<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>114492500103-o1n3jkri9kmgsp6t16gh2bs7eg0o4aln.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.114492500103-o1n3jkri9kmgsp6t16gh2bs7eg0o4aln</string>
	<key>API_KEY</key>
	<string>AIzaSyAqrvMW7QP0q8W1FGfa06jXkjR8GxEjxj4</string>
	<key>GCM_SENDER_ID</key>
	<string>114492500103</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mraborges.notepad.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>notepad-flutter-pj</string>
	<key>STORAGE_BUCKET</key>
	<string>notepad-flutter-pj.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:114492500103:ios:78ae4cb7ac3211ee87f022</string>
</dict>
</plist>